# Local Development Overrides
# Usage: helm upgrade web-crawler ./web-crawler -n web-crawler -f web-crawler/values.yaml -f web-crawler/local-values.yaml

feeder:
  image:
    pullPolicy: Never

manager:
  image:
    pullPolicy: Never
